table, th, td 
{
    margin: 10px 0;
    border: solid 1px #333;
    padding: 2px 4px;
    font: 15px Verdana;
}
th {
    font-weight:bold;
}

.img {
    width: 100%;
    margin-bottom: 18%;
  }
  .card-picture {
    width: 23%;
    margin-bottom: 2%;
  }
  .container {
    min-height: 100%;
    width: 100%;
  }
  .search-form {
    width: 90%;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }